# --- Logs & Debug ---
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# --- Dependencias & Build (Raíz y Subcarpetas) ---
node_modules/
**/node_modules/
**/vendor/
**/dist/
**/dist-ssr/
**/public/build/
**/public/hot/
**/public/storage/

# --- Variables de Entorno & Secretos ---
**/.env
**/.env.local
**/.env.backup
**/.env.production
**/*.local
**/auth.json/
**/storage/*.key
**/storage/pail

# --- Editores e IDEs ---
.vscode/
!.vscode/extensions.json
.idea/
.cursor/
.nova/
.zed/
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/.phpactor.json
**/_ide_helper.php

# --- Sistema & Varios ---
.DS_Store
**/Thumbs.db
**/Homestead.json
**/Homestead.yaml
**/docker-compose.yml

# --- Tests & Cache ---
**/.phpunit.result.cache
**/.phpunit.cache/